body {
    padding-top: 5rem;
    overflow-x: hidden;
    height: auto;
    width: 100%;
    background-color: #f5f0f1;
}

/* ---------- NAVBAR ---------- */
.userBtn{
    color: rgb(68, 5, 68) !important;
}

.adminbtn{
    color: rgb(77, 2, 2) !important;
}

.searchNavBar{
    height: 1.5rem;
    width: 3rem;
}

nav {
    background-color: white;
}

.logoNavbar{
    width: 6rem;
    height: 3rem;
}

.webSiteTitle {
    font-family: 'Cinzel', serif;
}

.navFont {
    font-family: 'Saira Condensed', sans-serif;
    font-size: 1.2rem;
    color: #B71C1C;
    font-weight: bold;
}

.navFont:hover {
    text-decoration: underline;
    color: black;
}

.hoverBackgroundNav:hover {
    background-color: #EFDCB6;
}

.hoverBackgroundNav {
    font-family: 'Saira Condensed', sans-serif;
}

.searchColor {
    background-color: black;
}

.buttonSignIn {
    color: white;
}

.buttonSignIn:hover {
    background-color: #00695C !important;
    color: white;
    transform: scale(1.2);
    transition: 0.5s;
}

.searchButton:hover{
    transform: scale(1.2);
    transition: 0.5s;
}

/* ---------- FOOTER ---------- */
.socialLogo {
    margin-right: 1.2rem;
}

.socialIcon{
    width: 2rem;
    height: 2rem;
}

.socialIcon:hover{
    color: #2D88FF;
    transform: scale(1.2);
    transition: 0.5s;
}

.footFont{
    font-family: 'Saira Condensed', sans-serif;
}

.fontHover:hover{
    text-decoration: underline;
}

/* ---------- PAGE ACCUEIL ---------- */

.imgCaroussel {
    width: auto;
    height: 500px;
    object-fit: cover;
    object-position: center;
}

@media all and (max-width: 1024px)
{
    .carousel
    {
        display: none;
    }
}

.textSlide{
    text-shadow: 1px 1px black;
}

.titleIndexPres{
    font-family: 'Bodoni Moda', serif;
    font: 1.5rem;
    color: black;
    font-weight: bold;
    font-style: italic;
}

.earthSakura{
    height: 3rem;
    width: 3rem;
}

.tanukiSize {
    width: 15rem;
    height: 15rem;
}

.textAccueil {
    text-align: justify;
    font-size: 1.2rem;
    margin-left: 1rem;
    font-family: 'Bodoni Moda', serif;
    color: black;
    font-weight: bold;
}

.japanMap{
    height: 7rem;
    width: 7rem;
}

.titleFoodIndex {
    padding-top: 3rem;
    margin-bottom: 2rem;
    color: white;
    text-shadow: black 1px 1px;
    font-family: 'Cinzel', serif;
}

.textGastronomie {
    color: white;
    font-size: 1.1rem;
    text-align: center;
    text-align: justify;
    padding-bottom: 3rem;
    text-shadow: black 1px 1px;
    font-family: 'Cinzel', serif;
}

.gastronomieSection {
    background-color: rgb(87, 83, 83);
    background-image: url('../img/accueil/ramen-gastronomie.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: multiply;
}

.seeMore:hover {
    text-decoration: underline !important;
    color: red !important;

}

/* City Card */
.titleCardSize {
    font-size: 1.8rem !important;
    color: black !important;
    font-family: 'Amatic SC', cursive;
    font-weight: bold !important;
}

.fontSizeCard {
    font-size: 1.2rem !important;
    color: black !important;
    font-family: 'Nunito', sans-serif;
}

.vocabularyCard:hover {
    transform: scale(1.1);
}

.vocabularyCard {
    transition: transform 0.2s ease;
    margin-right: 1.5rem;
}

/* ---------- PAGE OSAKA ----------  */

.osakaPageParalax {
    background-image: url('../img/osaka/osakaPage2.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.osakaTitlePageParalax {
    color: white;
    font-weight: bold;
    /* padding-left: 18rem; */
    font-size: 3rem;
    font-family: 'Cinzel', serif;
}

.textOsakaParalax {
    /* width: 50rem;
    padding-left: 20rem; */
    color: white;
    padding-bottom: 10rem;
    font-size: 1.5rem;
    font-family: 'Cinzel', serif;
}

.textPageOsaka {
    text-align: justify;
    font-size: 1.2rem;
    font-family: 'Bodoni Moda', serif;
    color: black;
    font-weight: bold;
}

.glicoImgOsaka {
    height: 40rem;
    width: 18rem;
}

@media all and (max-width: 1024px)
{
    .glicoImgOsaka
    {
        display: none;
    }
}

.legoImgOsaka {
    height: 25rem;
    width: 15rem;
}

.makiSushi {
    height: 12rem;
    width: 30rem;
}

.giftTemple {
    height: 12.5rem;
    width: 30rem;
}

.imgPageOsaka {
    margin-left: 10rem;
}

.backComment{
    background-color: rgb(255, 255, 255);
} 

.sizeStar{
    height: 2rem;
    width: auto;
}

.sizeStar:hover{
    background-image: url('../img/star.svg');
}

.rating img {
    text-decoration: none;
    font-size: 3em;
    transition: color .4s;
}

.rating img:hover,
.rating img:focus,
.rating a:hover ~ a,
.rating a:focus ~ a { 
    background-image: url('../img/star.svg');
    cursor: pointer;
}

.textModify{
    background-color: white;
}

/* ---------- PAGE KYOTO ----------  */
.kyotoPageParalax {
    background-image: url('../img/kyoto/jizoKyoto2.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.kyotoTitlePageParalax {
    color: white;
    font-weight: bold;
    /* padding-left: 18rem; */
    font-size: 3rem;
    font-family: 'Cinzel', serif;
}

.textKyotoParalax {
    /* width: 50rem; */
    /* padding-left: 20rem; */
    color: white;
    padding-bottom: 10rem;
    font-size: 1.5rem;
    font-family: 'Cinzel', serif;
}

.textPageKyoto {
    text-align: justify;
    font-size: 1.2rem;
    font-family: 'Bodoni Moda', serif;
    color: black;
    font-weight: bold;
}

.lanterneImgKyoto {
    height: 13rem;
    width: 25rem;
}

@media all and (max-width: 1024px)
{
    .lanterneImgKyoto
    {
        display: none;
    }
}

.cimetiereImgKyoto {
    height: 13rem;
    width: 25rem;
}

/* ---------- PAGE CONTACT ---------- */

.formHover:hover {
    background-color: #ff8a80;
}

.contactForm{
    border-radius: 2rem;
    color: black;
    background-color: white;
}

.contactTitle{
    font-family: 'Bodoni Moda', serif;
    font: 1.5rem;
    font-weight: bold;
    font-style: italic;
}

.contactBack{
    background-image: url('../img/contact/street.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* ---------- PAGE VOCABULAIRE ---------- */


/* ---------- PAGE GASTRONOMIE ---------- */

.titleGastronomie{
    font-family: 'Bodoni Moda', serif;
    font: 1.5rem;
    color: black;
    font-weight: bold;
    font-style: italic
}

.sushiOsaka{
    height: 30rem;
    width: 40rem;
}

.textGastronomyPage{
    text-align: justify;
    font-size: 1.2rem;
    margin-left: 1rem;
    font-family: 'Bodoni Moda', serif;
    color: black;
    font-weight: bold;
}

.subTitleGastronomie{
    font-family: 'Bodoni Moda', serif;
    font: 1.5rem;
    color: black;
    font-style: italic
}

.ramenOsaka {
    height: 20rem;
    width: 110rem;
}

.imgRecipeSize {
    height: 20rem;
    width: 29rem;
}

li {
    text-align: justify;
}

.titleModalRecipe {
    text-decoration: underline;
    font-weight: bold;
}

.btnGastronomieRecipe {
    background-color: #B71C1C;
    color: white;
}

.btnGastronomieRecipe:hover {
    background-color: #00695C;
    color: white;
    transform: scale(1.2);
    transition: 0.5s;
}

.ramenGif {
    height: 3rem;
    width: 4rem;
}

.videoresponsive {
    overflow:hidden; 
    padding-bottom:56.25%; 
    position:relative; 
    height:0;
}

.videoresponsive iframe {
    left:0; 
    top:0; 
    height:100%;
    width:100%;
    position:absolute;
}

/* ---------- arrow top ---------- */
#scrollTop {
    position: fixed;
    width: 25px;
    height: 25px;
    bottom: 50px;
    right: 30px;
}

/* #scrollTop img {
    width: 25px;
} */

.fa-arrow-circle-up {
    color: #ff5252;
}

/* ---------- PAGE GALERIE ---------- */

.galleryTitle {
    font-family: 'Bodoni Moda', serif;
    font-weight: bold;
}

/* ---------- PAGE ERROR 404 ---------- */
.kasaObakeImg{
    height: 30rem;
    width: 20rem;
}

.errorTitle{
    font-family: 'Cinzel', serif;
    font-weight: bold;
}

.textError{
    font-family: 'Crimson Text', serif;
    font-size: 1.5rem;
}

.indexReturn{
    color: #B71C1C;
    font-family: 'Crimson Text', serif;
    font-weight: bold;
    font-size: 1.3rem;
}

.indexReturn:hover{
    text-decoration: underline;
    color: #00695C;
}

/* ---------- PAGE INSCRIPTION ---------- */
.inscriptionForm{
    color: black;
    background-color: white;
    border-radius: 2rem;
}

.backBody{
    background-image: url('../img/inscription/osaka_night.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.inscriptionTitle{
    font-family: 'Bodoni Moda', serif;
    font: 1.5rem;
    font-weight: bold;
    font-style: italic;
}

/* ---------- PAGE ADMIN ---------- */
.titleTable{
    font-size: 2rem;
    font-family: 'Cinzel', serif;
}

.fontAdmin{
    font-family: 'Bodoni Moda', serif;
    font-weight: bold !important;
}

.adminTitle{
    font-family: 'Bodoni Moda', serif;
    font: 1.5rem;
    color: black;
    font-weight: bold;
    font-style: italic;
}

.subTitleAdmin{
    font-size: 2rem;
    font-family: 'Cinzel', serif;
    color: black;
}

.addArticleForm{
    color: black;
    background-color: white;
    border-radius: 2rem;
}

.uploadImgForm{
    color: black;
    background-color: white;
    border-radius: 2rem;
}

.addRecipeForm {
    color: black;
    background-color: white;
    border-radius: 2rem;
}

.backAdmin{
    background-image: url('../img/admin/lanterns.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.deleteIcon{
    height: 2rem;
    width: 2rem;
}

.backIndex:hover{
    text-decoration: underline;
}

.backCardAdmin{
    background-color: white; 
    box-shadow: 1px 1px 12px #555;;
}

.backforminscri{
    background-color: white;
}

.logoforminscrip{
    height: 12rem;
    width: auto;
}

/* ---------- PAGE CONNEXION ---------- */
.connexionForm{
    border-radius: 2rem;
    background-color: white;
}

.connexionBack{
    background-image: url('../img/connexion/geisha.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.marginInput{
    margin-top: -1.5rem;
}

.daruma{
    height: 2.5rem;
    width: auto;
}

/* ---------- PAGE DECONNEXION ---------- */

.Kaonashi{
    height: 20rem;
    width: auto;
}

/* ---------- PAGE UTILISATEUR ---------- */

.kitsuneProfil{
    height: 5rem;
    width: auto;
    background-color: black;
}

.momiji{
    height: 10rem;
    width: auto;
    /* margin-top: 7rem;
    margin-left: 7rem; */
}

@media all and (max-width: 768px){
    .momiji {
        height: 7rem;
        width: auto;
    }
}

@media all and (max-width: 425px){
    .momiji {
        height: 5rem;
        width: auto;
    }
}

