body {
    padding-top: 9rem;
    overflow-x: hidden;
    height: auto;
    width: 100%;
}

/* NavBar */

.webSiteTitle {
    font-family: 'Cinzel', serif;
}

.navFont {
    font-family: 'Saira Condensed', sans-serif;
}

.navFont:hover {
    text-decoration: underline;
}

.hoverBackgroundNav:hover {
    background-color: #ff8a80;
}

.hoverBackgroundNav {
    font-family: 'Saira Condensed', sans-serif;
}

.searchColor {
    background-color: black;
}

/* PAGE ACCUEIL */

.imgCaroussel {
    width: auto;
    height: 500px;
    object-fit: cover;
    object-position: center;
}

/* .tanukiSize {
    width: 15rem;
    height: 15rem;
} */

.textAccueil {
    text-align: justify;
    font-family: 'Crimson Text', serif;
    font-size: 1.2rem;
}

.textGastronomie {
    text-align: justify;
    font-family: 'Crimson Text', serif;
    font-size: 1.2rem;
}

.foodSize {
    width: 35rem;
    height: 20rem;
}

.seeMore:hover {
    text-decoration: underline;
    color: red;
}

.vocabularyCard{
    justify-content: space-evenly;
}

/* City Card */

.fontSizeCard .card-text{
    font-size: 1.1rem;
}

/* PAGE CONTACT */

.formHover:hover {
    background-color: #ff8a80;
}

/* arrow top */

#scrollTop {
    position: fixed;
    width: 25px;
    height: 25px;
    bottom: 50px;
    right: 30px;
}

#scrollTop img {
    width: 25px;
}

.fa-arrow-circle-up {
    color: #ff5252;
}

.vocabularyCard:hover{
    transform: scale(1.1);
}
.vocabularyCard{
    transition: transform 0.2s ease;
}

/* page vocabulaire */


/*page gastronomie */

.ramenOsaka {
    height: 20rem;
    width: 500rem;
}

