body {
    padding-top: 5rem;
    overflow-x: hidden;
    height: auto;
    width: 100%;
    background-color: #f5f0f1;
}

/* ---------- NAVBAR ---------- */
.searchNavBar{
    height: 2rem;
    width: 3rem;
}

nav {
    background-color: white;
}

.logoNavbar{
    width: 6rem;
    height: 3rem;
}

.webSiteTitle {
    font-family: 'Cinzel', serif;
}

.navFont {
    font-family: 'Saira Condensed', sans-serif;
    font-size: 1.2rem;
    color: #B71C1C !important;
    font-weight: bold;
}

.navFont:hover {
    text-decoration: underline;
}

.hoverBackgroundNav:hover {
    background-color: #EFDCB6;
}

.hoverBackgroundNav {
    font-family: 'Saira Condensed', sans-serif;
}

.searchColor {
    background-color: black;
}

.buttonSignIn {
    color: white;
}

.buttonSignIn:hover {
    background-color: #00695C !important;
    color: white;
    transform: scale(1.2);
    transition: 0.5s;
}

.searchButton:hover{
    transform: scale(1.2);
    transition: 0.5s;
}

.darumaSvg{
    height: 2rem;
    width: 2rem;
}

/* ---------- FOOTER ---------- */
.socialLogo {
    margin-right: 1.2rem;
}

.socialIcon{
    width: 2rem;
    height: 2rem;
}

.socialIcon:hover{
    color: #2D88FF;
    transform: scale(1.2);
    transition: 0.5s;
}

.footFont{
    font-family: 'Saira Condensed', sans-serif;
}

.fontHover:hover{
    text-decoration: underline;
}

/* ---------- PAGE ACCUEIL ---------- */

.imgCaroussel {
    width: auto;
    height: 500px;
    object-fit: cover;
    object-position: center;
}

.titleIndexPres{
    font-family: 'Bodoni Moda', serif;
    font: 1.5rem;
    color: black;
    font-weight: bold;
    font-style: italic;
}

.earthSakura{
    height: 3rem;
    width: 3rem;
}

.tanukiSize {
    width: 15rem;
    height: 15rem;
}

.textAccueil {
    text-align: justify;
    font-size: 1.2rem;
    margin-left: 1rem;
    font-family: 'Bodoni Moda', serif;
    color: black;
    font-weight: bold;
}

.japanMap{
    height: 7rem;
    width: 7rem;
}

.titleFoodIndex {
    padding-top: 3rem;
    margin-bottom: 2rem;
    color: white;
    text-shadow: black 1px 1px;
    font-family: 'Cinzel', serif;
}

.textGastronomie {
    color: white;
    font-size: 1.1rem;
    text-align: center;
    text-align: justify;
    padding-bottom: 3rem;
    text-shadow: black 1px 1px;
    font-family: 'Cinzel', serif;
}

.gastronomieSection {
    background-image: url('../img/gastronomie/ramen-gastronomie.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.seeMore:hover {
    text-decoration: underline !important;
    color: red !important;

}

/* City Card */
.titleCardSize {
    font-size: 1.5rem !important;
    color: black !important;
    font-family: 'Amatic SC', cursive;
    font-weight: bold !important;
}

.fontSizeCard {
    font-size: 1.5rem !important;
    color: black !important;
    font-family: 'Amatic SC', cursive;
}

.vocabularyCard:hover {
    transform: scale(1.1);
}

.vocabularyCard {
    transition: transform 0.2s ease;
    margin-right: 1.5rem;
}

/* ---------- PAGE OSAKA ----------  */

.osakaPageParalax {
    background-image: url('../img/osaka/osakaPage2.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.osakaTitlePageParalax {
    color: white;
    font-weight: bold;
    /* padding-left: 18rem; */
    font-size: 3rem;
    font-family: 'Cinzel', serif;
}

.textOsakaParalax {
    /* width: 50rem;
    padding-left: 20rem; */
    color: white;
    padding-bottom: 10rem;
    font-size: 1.5rem;
    font-family: 'Cinzel', serif;
}

.textPageOsaka {
    text-align: justify;
    font-size: 1.2rem;
    font-family: 'Bodoni Moda', serif;
    color: black;
    font-weight: bold;
}

.glicoImgOsaka {
    height: 40rem;
    width: 18rem;
}

.legoImgOsaka {
    height: 25rem;
    width: 15rem;
}

.makiSushi {
    height: 12rem;
    width: 30rem;
}

.giftTemple {
    height: 12.5rem;
    width: 30rem;
}

.imgPageOsaka {
    margin-left: 10rem;
}

/* ---------- PAGE KYOTO ----------  */
.kyotoPageParalax {
    background-image: url('../img/kyoto/jizoKyoto2.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.kyotoTitlePageParalax {
    color: white;
    font-weight: bold;
    /* padding-left: 18rem; */
    font-size: 3rem;
    font-family: 'Cinzel', serif;
}

.textKyotoParalax {
    /* width: 50rem; */
    /* padding-left: 20rem; */
    color: white;
    padding-bottom: 10rem;
    font-size: 1.5rem;
    font-family: 'Cinzel', serif;
}

.textPageKyoto {
    text-align: justify;
    font-size: 0.9rem;
    margin-left: 1rem;
}

.lanterneImgKyoto {
    height: 13rem;
    width: 25rem;
}

.cimetiereImgKyoto {
    height: 13rem;
    width: 25rem;
}

/* ---------- PAGE CONTACT ---------- */

.formHover:hover {
    background-color: #ff8a80;
}

.contactForm{
    border-radius: 2rem;
    color: black;
    background-color: white;
}

.contactTitle{
    font-family: 'Bodoni Moda', serif;
    font: 1.5rem;
    font-weight: bold;
    font-style: italic;
}

.contactBack{
    background-image: url('../img/street.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* ---------- PAGE VOCABULAIRE ---------- */


/* ---------- PAGE GASTRONOMIE ---------- */

.titleGastronomie{
    font-family: 'Bodoni Moda', serif;
    font: 1.5rem;
    color: black;
    font-weight: bold;
    font-style: italic
}

.textGastronomyPage{
    text-align: justify;
    font-size: 1.2rem;
    margin-left: 1rem;
    font-family: 'Bodoni Moda', serif;
    color: black;
    font-weight: bold;
}

.subTitleGastronomie{
    font-family: 'Bodoni Moda', serif;
    font: 1.5rem;
    color: black;
    font-style: italic
}

.ramenOsaka {
    height: 20rem;
    width: 110rem;
}

.imgRecipeSize {
    height: 20rem;
    width: 29rem;
}

li {
    text-align: justify;
}

.titleModalRecipe {
    text-decoration: underline;
    font-weight: bold;
}

.btnGastronomieRecipe {
    background-color: #B71C1C;
    color: white;
}

.btnGastronomieRecipe:hover {
    background-color: #00695C;
    color: white;
    transform: scale(1.2);
    transition: 0.5s;
}

.ramenGif{
    height: 3rem;
    width: 4rem;
}

/* arrow top */
#scrollTop {
    position: fixed;
    width: 25px;
    height: 25px;
    bottom: 50px;
    right: 30px;
}

/* #scrollTop img {
    width: 25px;
} */

.fa-arrow-circle-up {
    color: #ff5252;
}

/* ---------- PAGE GALERIE ---------- */

.galleryTitle {
    font-family: 'Bodoni Moda', serif;
    font-weight: bold;
}

/* ---------- PAGE ERROR 404 ---------- */
.kasaObakeImg{
    height: 30rem;
    width: 20rem;
}

.errorTitle{
    font-family: 'Cinzel', serif;
    font-weight: bold;
}

.textError{
    font-family: 'Crimson Text', serif;
    font-size: 1.5rem;
}

.indexReturn{
    color: #B71C1C;
    font-family: 'Crimson Text', serif;
    font-weight: bold;
    font-size: 1.3rem;
}

.indexReturn:hover{
    text-decoration: underline;
    color: #00695C;
}

/* ---------- PAGE INSCRIPTION ---------- */
.inscriptionForm{
    color: black;
    background-color: white;
    border-radius: 2rem;
}

.backBody{
    background-image: url('../img/osaka/osaka_night.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.inscriptionTitle{
    font-family: 'Bodoni Moda', serif;
    font: 1.5rem;
    font-weight: bold;
    font-style: italic;
}

/* ---------- PAGE ADMIN ---------- */

.adminTitle{
    font-family: 'Bodoni Moda', serif;
    font: 1.5rem;
    color: black;
    font-weight: bold;
    font-style: italic;
}

.subTitleAdmin{
    font-size: 2rem;
    font-family: 'Cinzel', serif;
    color: black;
}

.addArticleForm{
    color: black;
    background-color: white;
    border-radius: 2rem;
}

.uploadImgForm{
    color: black;
    background-color: white;
    border-radius: 2rem;
}

.backAdmin{
    background-image: url('../img/lanterns.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.deleteIcon{
    height: 2rem;
    width: 2rem;
}

.backIndex:hover{
    text-decoration: underline;
}

.connexionForm{
        border-radius: 2rem;
        background-color: white;
}

.connexionBack{
    background-image: url('../img/geisha.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}